html {
    height: 100%;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 16px;
    height: 100%;
    width: 100%;
    background-color: var(--bg2-color);
}

#__nuxt, #__layout, .layout-container {
    height: 100%;
    width: 100%;
}

.pointer {
    cursor: pointer;
}

* {
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.tooltip {
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cacaca;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 16px;
    box-sizing: border-box;
    border-radius: 4px;
    height: 32px;
    font-size: 11px;

    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: black;
        z-index: 1;
    }

    &[x-placement^="bottom"] {
        margin-top: 5px;

        .tooltip-arrow {
            border-width: 0 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s, visibility .25s;
    }

    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .25s;
    }
}

@media not all and (orientation: landscape) {
    .tooltip {
        display: none;
    }
}

*:focus {
    outline: none;
}

.button {
    text-transform: uppercase;
    border-radius: 4px;
    color: white;
    padding: 2px 8px;
    display: inline-flex;
    font-weight: 500;
    font-size: 12px;
    background-color: var(--button-bg-color);
    cursor: pointer;
}

.button:hover {
    background-color: #1e88e5;
    color: #fff;
}

input {
    height: 36px;
}
