html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
}

#__nuxt, #__layout, .layout-container {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

* {
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
