$main-color-dark: #3AAFA9;
$main-color-light: #2B7A78;
$accent-color-dark: #2B7A78;
$accent-color-light: #DEF2F1;
$text-color-dark: #FEFFFF;
$text-color-light: #17252A;
$background-color-dark: #17252A;
$background-color-light: #FEFFFF;
