$main-color-dark: #2E9CCA;
$main-color-light: #25274D;
$accent-color-dark: #25274D;
$accent-color-light: #2E9CCA;
$text-color-dark: #AAABB9;
$text-color-light: #464866;
$background-color-dark: #464866;
$background-color-light: #AAABB9;
