:root {
    --main-color: #1565c0;
}

.dark-mode {
    --bar-bg-color: #242427;
    --bar-txt-color: #cacaca;
    --bar-txt-active: #ffffff;
    --content-bg-color: #373740;
    --content-txt-color: #bdbdbd;
}

.light-mode {
    --bar-bg-color: #78909c;
    --bar-txt-color: white;
    --bar-txt-active: #ffffff;
    --content-bg-color: #e3f2fd;
    --content-txt-color: #484848;
}
